Makefile.config
server_files/BepInEx
server_files/LICENSE-Server.txt
server_files/Readme.md
server_files/SPT_Data
server_files/SPT.Server.exe
server_files/user
server_files/mod_download/download_unzip_install_mods.log
server_files/mod_download/mod_urls_downloaded.txt
omit.txt
downloads
